
.nav-more-1{
  float:right;
  padding-left: 350px;
}

.layout-left-align{
    padding-left: 40px;
    padding-right:40px;
}

.section-one{
  background-color: #ffffff;
  height: 74vh;
}

.section-two{
background-color: #ffffff;
height: 100vh;
}

.about-cygnigamma{
text-align:center;
padding-top: 15px;
color:#000;
margin: 0;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.quote{
  margin:10px 20px 10px 0;
}

.input-field{
  width:300px;
}

.input-desc{
  width:300px;
}

.button{
  padding: 0;
}

.why-us{
  vertical-align: middle;
  margin: 40px 0px 30px 0px;
}

.why-us-text{
  vertical-align: middle;
  padding: 50px 0px 50px 0px;
}

.style-of-working{
  vertical-align: middle;
  margin: 40px 0px 30px 0px;
}

.style-of-working-text{
  vertical-align: middle;
  padding: 25px 0px 50px 0px;
}

.what-we-offer{
  vertical-align: middle;
  margin: 30px 0px 100px 0px;
}

.what-we-offer-text{
  vertical-align: middle;
  padding: 55px 0px 50px 0px;
}

.contact-us{
  padding:0;
}

.desc-box-margin{
margin:15px;
width:600px;
}

.text-margin{
  margin-top:15px;
}

.footer-style{
margin:10px 0 1px 0;
background-color:#fff;
background-position:bottom;
color:#007bff;
width:100%;
}
.cg-contact{
  text-align: left;
  padding:10px
}

/*images*/
.logo-image{
  max-width: 250px;
  padding-left: 0px;
}
.logo-width{
  width:159px;
}
.image-size-right{
  width:30%;
  float:right;
}
.image-size-left{
  width:30%;
  float:left;
  padding-right: 20px;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-style: normal;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
